/* On importe les polices */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,800&display=swap');

/* Page CSS */
* {
    box-sizing: border-box;
}
body {
    color: black;
    font-family: Raleway, sans-serif;
}
:root {
    --grey: #F2F2F2;
    --blue: #0065FC;
    --cyan: #DEEBFF;
}
/* Header CSS */
.header {
    display: flex;
    justify-content: space-between;
    margin: 0 32px 0 32px;
}
.logo {
    margin: 16px 0 16px 50px;
    max-height: 90px;
    max-width: 191px;
}
.logo img {
    max-width: 75%;
    height: auto;
}
.menu-top-site {
    margin-bottom: 3px;
    font-weight: 500;
}
.menu-top-site ul {
    list-style-type: none;
    display: flex;
    margin: 0;
}
.menu-top-site a {
    color: black;
    text-decoration: none;
}
.menu-top-site .primary-link {
    color: #0065FC;
    padding: 40px 32px 32px 32px;
    border-top: 3px solid #0065FC;
}
.menu-top-site .link {
    padding: 40px 32px 32px 32px;
    border-top: 3px solid white;
}
.menu-top-site .link:hover {
    border-top: 3px solid #0065FC;
    color: #0065FC;
}
.nav-top-right {
    display: flex;
    margin-right: 30px;
}

/* Footer CSS */
.footer {
    display: flex;
    justify-content: stretch;
    background-color: #F2F2F2;
    flex-direction: row;
    margin-top: 32px;
}
.footer-part-1, .footer-part-2, .footer-part-3 {
    margin: 16px 32px 32px 32px;
    flex: 1;
}
.footer h3 {
    padding-left: 40px;
    padding-bottom: 10px;
    font-weight: 700;
}
.footer ul {
    list-style-type: none;
}
.footer li {
    margin: 16px 0 16px 0;
}
.footer a {
    color: black;
    text-decoration: none;
    font-weight: 500;
}

/*** Main CSS ***/
/** Debut Top-Site **/
/* Partie Entete */
.main {
    margin: 0 32px 0 32px;
}
.top-site {
    margin: 10px 0 10px 0;
}
.top-site .part-1 h1 {
    font-size: 27px;
    margin: 0 32px 0 32px;
    font-weight: 700;
}
.top-site .part-1 p {
    margin: 10px 32px 0 32px;
    font-weight: 450;
    font-size: 19px;
}
/* Partie Search-Bar */
.search-bar {
    display: flex;
    align-items: center;
    margin: 20px 32px 0 32px;
}
.location i {
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 55px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    font-size: 22px;
}
.search-box input {
    height: 60px;
    width: 300px;
    padding: 5px 10px 5px 20px;
    color: black;
    border-style: none;
    font-weight: bold;
    font-size: 20px;
    border: 2px solid #F2F2F2;
}
.search-box input::placeholder {
    color: black;
    opacity: 1;
}
.button input {
    height: 60px;
    width: 160px;
    border-style: none;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    color: white;
    background-color: #0065FC;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
}
.button-phone {
    display: none;
}
/* Partie FILTERS */
.filters {
    display: flex;
    margin:  20px 32px 20px 32px;
    font-size: 20px;
    font-weight: 700;
}
.filters p {
    margin-left: 5px;
    margin-top: auto;
    margin-bottom: auto;
}
.filters li {
    margin: 0 10px 0 10px;
    padding: 0 17px 0 0;
    border: 3px solid #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
    cursor: pointer;
}
.filters ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.filters i {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065FC;
    background-color: #DEEBFF;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    margin: 0 17px 0 0;
}
.filters li:hover {
    background-color: #DEEBFF;
}
/* Partie MINI-PHRASE*/
.top-site .mini-para {
    display: flex;
    align-items: center;
    margin: 0 32px 40px 32px;
    font-size: 19px;
}
.top-site .mini-para i {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065FC;
    height: 30px;
    width: 30px;
    border: 2px solid #F2F2F2;
    border-radius: 100%;
    margin: 0 10px 0 0;
}
/** FinTop-Site **/
/** Debut Mid-Site **/
.mid-site {
    margin: 0 30px 0 30px;
    display: flex;
    align-items: stretch;
}
.mid-site a {
    text-decoration: none;
    color: inherit;
}
.mid-site span {
    font-weight: bold;
}
.mid-site .blue {
    color: #0065FC;
}
.mid-site .grey {
    color: #d6d6d6;
}
/*** Left-Box ***/
.left-box {
    display: flex;
    flex: 3;
    flex-wrap: wrap;
    margin: 0 32px 0 0;
    padding: 32px 32px 32px 32px;
    background-color: #F2F2F2;
    border-radius: 25px;
}
.left-box h1 {
    font-size: 26px;
    font-weight: 700;
    margin-left: 15px;
}
.grille-box1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.minibox {
    height: 260px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 0 20px #6161612c;
    margin: 10px 25px 30px 15px;
    flex: 1;
}
.minibox img {
    width: 320px;
    min-width: 100%;
    height: 160px;
    object-fit: cover;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 7px;
}
.minibox h3, .minibox p {
    margin: 0 0 10px 20px;
}
.minibox .rate {
    display: flex;
    align-items: center;
    padding: 0 0 15px 20px;
    font-size: 15px;
}
.minibox h3 {
    font-size: 21px;
}
.minibox p {
    font-size: 17px;
    font-weight: 450;
}
.more {
    font-size: 22px;
    font-weight: 700;
    margin: 0 0 0 15px;
}
/*** Right-Box ***/
.right-box {
    display: flex;
    flex: 1;
    padding: 32px 32px 32px 32px;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 25px;
}
.right-box .popular {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 10px 0;
}
.popular .graph {
    font-size: 30px;
    margin: 0 30px 0 0;
}
.right-box .line-box2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
}
.line-box2 a {
    display: flex;
    width: 100%;
    height: 100%;
}
.linebox {
    display: flex;
    flex-direction: row;
    min-height: 200px;
    max-height: 200px;
    min-width: 400px;
    width: 100%;
    background-color: white;
    border-radius: 30px;
    margin: 10px 25px 30px 15px;
    box-shadow: 0 0 20px #6161612c;
}
.linebox .infos {
    display: flex;
    flex-direction: column;
}
.linebox img {
    width: 100%;
    max-width: 31%;
    object-fit: cover;
    padding: 7px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.right-box h1 {
    font-size: 26px;
    font-weight: 700;
    margin-left: 15px;
}
.linebox h3 {
    font-size: 21px;
    padding: 0 0 0 10px;
}
.linebox p {
    font-size: 17px;
    font-weight: 450;
    padding: 0 0 0 10px;
}
.linebox .rate {
    margin: 0px 0 0 10px;
    display: flex;
    align-items: center;
    font-size: 15px;
    height: 100%;
    align-items: flex-end;
    padding-bottom: 20px;
}
/** Fin Mid-Site **/
/** Debut Bot-SIte **/
.bot-site {
    padding: 32px 32px 32px 32px;
}
.bot-site .img1 {
    height: 100%;
    width: 100%;
}
.bot-site a {
    text-decoration: none;
    color: inherit;
}
.bot-site img {
    height: 160px;
    object-fit: cover;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.bot-site h1 {
    font-size: 26px;
    font-weight: 700;
    margin: 40px 0 15px 5px;
}
.bot-site h3 {
    font-size: 21px;
    margin-left: 20px;
}
.boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 35px 0 0 0;
    height: 500px;
}
.botmini {
    box-shadow: 0 0 20px #6161612c;
    border-radius: 30px;
}
.box-1 {
    flex: 1;
    margin-right: 30px;
    display: flex;
    justify-content: flex-start;
}
.box-2 {
    display: flex;
    flex: 1;
    margin-left: 30px;
    margin-right: 30px;
}
.box-2 .bas-link {
    margin-top: 50px;
}
.box-3 {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    margin-right: 30px;
    margin-left: 30px;
}
.box-4 {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 30px;
}
.box-4 .bas-link {
    margin-top: 50px;
}
.botmini-dual-1 {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.box-2 .haut {
    height: 270px;
}
.box-2 .haut img {
    height: 205px;
}
.box-2 .bas {
    height: 180px;
}
.box-2 .bas img {
    height: 115px;
}
.botmini-dual-2 {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}
.box-2 .haut, .box-2 .bas, .box-4 .haut, .box-4 .bas {
    box-shadow: 0 0 20px #6161612c;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
}
.botmini {
    display: flex;
    flex-direction: column;
    height: 100%;
}

@media screen and (max-width: 1460px) {
    .mid-site {
        flex-direction: column-reverse;
    }
    .right-box {
        margin-bottom: 60px;
    }
    .left-box {
        margin: 0;
    }
    .bot-site {
        display: flex;
        flex-direction: column;
    }
    .bot-site .boxes {
        flex-direction: column;
        align-items: center;
        height: 100%;
    }
    .botmini-dual-1 {
        height: 100%;
    }
    .box-2 .haut, .box-2 .bas, .box-4 .haut, .box-4 .bas {
        height: 250px;
        margin: 0  0 60px 0;
    }
    .box-2 .haut img, .box-2 .bas img, .box-4 .haut img, .box-4 .bas img {
        height: 185px;
    }
    .boxes a {
        margin: inherit;
    }
    .box-2 .bas-link {
        margin: inherit;
    }
    .boxes .box-1 {
        margin: 0 0 30px 0;
        flex: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .bot-site .img1 {
        height: 185px;
        width: inherit;
    }
    .boxes .box-2 {
        margin: 0;
        flex: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .box-2 .img2 {
        height: 180px;
    }
    .boxes .box-3 {
        margin: 0 0 30px 0;
        flex: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
    
    }
    .boxes .box-4 {
        margin: 0;
        flex: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .box-4 .bas-link {
        margin-top: inherit;
    }
}